<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>

    <link href="/resources/css/bootstrap.css" rel="stylesheet" />
    <script src="/resources/js/angular.js"></script>
    <script src="/resources/js/viewcategories.js"></script>

</head>
<body class="container" ng-app="restModule">
    <div ng-controller="restController">
        <h1>About page</h1>
        <br/>
        <p>Welcome to our clothing. Stylish designer wear</p>

        <br />

        {{ about }}

        <br />
        <br />
        <br />

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Category Name</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="category in categories">
                    <td>{{ category.id }}</td>
                    <td>{{ category.categoryName }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>