<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>retail</title>
    <link href="/resources/css/bootstrap.css" rel="stylesheet" />
    <script src="/resources/js/angular.js"></script>
    <script src="/resources/js/welcome.js"></script>


</head>
<body class="container" ng-app="retail">
    <div>
        <h1>Hello World, How are things going here</h1>
        <br/>
        <br/>
        <p>Learning arithmetic calculation : </p>
        <p>One plus One is (1 + 1) : {{ 1 + 1 }}</p>
    </div>
    <br/>
    <div ng-controller="retailController">
        {{ message }}
    </div>
    <br/>
    <br/>

    <a href="/about">Click to View About Page -></a>

</body>
</html>